openai==1.109.1
httpx==0.28.1
tweepy==4.16.0
pandas==2.3.2
tiktoken==0.11.0
matplotlib==3.10.6
plotly==6.3.0
scipy==1.16.2
scikit-learn==1.7.2
langchain==0.3.27
langchain-core==0.3.76
langchain-community==0.3.30
langchain-openai==0.3.33
langsmith==0.4.31
google-api-python-client==2.183.0
pypdf==6.1.0
chromadb==1.1.0
pydantic==2.11.9
numpy==2.3.3
pillow==11.3.0
